{
    "tasks": [
        {
            "label": "make build",
            "type": "shell",
            "command": "make",
            "args": ["all"],
            "options": {
                "cwd": "${workspaceFolder}"
            },
            "problemMatcher": [
                "$gcc"
            ],
            "group": {
                "kind": "build",
                "isDefault": true
            },
            "detail": "Build release game"
        },
        {
            "label": "make debug",
            "type": "shell",
            "command": "make",
            "args": ["debug"],
            "options": {
                "cwd": "${workspaceFolder}"
            },
            "problemMatcher": [
                "$gcc"
            ],
            "detail": "Build debug game with ASan & GDB symbols"
        },
        {
            "label": "make clean",
            "type": "shell",
            "command": "make",
            "args": ["clean"],
            "options": {
                "cwd": "${workspaceFolder}"
            }
        }
    ],
    "version": "2.0.0"
}